.mask {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.header {
  display: flex;
  height: 40px;
  flex: 0 0 auto;
  align-items: center;
  font-size: 18px;
  padding: 0 10px;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: calc(100vh - 40px);
  overflow: scroll;
}
.chapterWrap {
  display: flex;
}
.chapterCover {
  width: 30%;
  height: 0;
  padding-top: 15%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
