.wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.imgsWrap {
  height: 100%;
  position: absolute;
  left: -100vw;
  top: 0;
  display: flex;
}

.animation {
  animation-duration: 0.5s;
}

.toRight {
  animation-name: ToRight;
}

.toLeft {
  animation-name: ToLeft;
}
.toTop {
  animation-name: ToTop;
}
.toBottom {
  animation-name: ToBottom;
}

@keyframes ToTop {
  from {
    top: -200vh;
  }

  to {
    top: -100vh;
  }
}
@keyframes ToBottom {
  from {
    top: 0;
  }

  to {
    top: -100vh;
  }
}
@keyframes ToRight {
  from {
    left: 0;
  }

  to {
    left: -100vw;
  }
}
@keyframes ToLeft {
  from {
    left: -200vw;
  }

  to {
    left: -100vw;
  }
}

.operateArea {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
}

.area {
  flex: 1;
}

.left {
  flex-basis: 25%;
}
.right {
  flex-basis: 25%;
}
.middle {
  flex-basis: 50%;
}
