.wrap {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: #0d0015;
}
.scrollWrap {
  overflow-y: scroll;
}

.imgsWrap {
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 0;
  top: 0;
}

.phantomList {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
